<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="title-header">
				<div class="title">
					<i class="fa fa-list-alt"></i>
					<h3 class="head-title">Patient Information</h3>
				</div>
            </div>
            <div class="bgWhite" *ngFor="let patient of patientInfoArr">
                <p>Name : {{patient.name}}</p>
                <p>Date of Birth : {{patient.DOB}}</p>
                <p>Gender : {{patient.Gender}}</p>
                <p>Address : {{patient.Address}}</p>
                <p>Email : {{patient.Email}}</p>
                <p>Home : {{patient.Home}}</p>
                <p>Mobile : {{patient.Mobile}}</p>
            </div>
        </div>
    </div>
</div>

