<div class="col-md-4 loginForm shadow p-0">
	<h3 class="text-center">Account Login</h3>
	<div class="bgWhite">
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
				<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
					<div *ngIf="f.username.errors.required">Username is required</div>
				</div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
				<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
					<div *ngIf="f.password.errors.required">password is required</div>
				</div>
			</div>
			<button [disabled]="loading" class="btn btn-primary">
				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
				Login
			</button>
		</form>
	</div>
</div>
