<form class="form regFormValid " data-fm-namespace="" id="fm" method="POST" name="fm" novalidate="novalidate">
    <input class="field form-control" id="formDate" name="formDate" type="hidden">
    <div class="row ">
       <div class="form-group col-md-6 input-select-wrapper">
          <label class="control-label" for="question1">
          Question 1 <i class="fa fa-asterisk asterisk"></i>
          </label>
          <select class="form-control security" id="question1" name="question1">
             <option class="" selected="" value="0">
                --Select Question--
             </option>
             <option class="" value="What celebrity do you most resemble?">
                What celebrity do you most resemble?
             </option>
             <option class="" value="What was your title at your first Job?">
                What was your title at your first Job?
             </option>
             <option class="" value="Which is your favorite web browser?">
                Which is your favorite web browser?
             </option>
             <option class="" value="What is the first name of your favorite teacher or professor?">
                What is the first name of your favorite teacher or professor?
             </option>
             <option class="" value="In what city does your nearest sibling live?">
                In what city does your nearest sibling live?
             </option>
          </select>
       </div>
       <div class="form-group col-md-6 input-text-wrapper">
          <label class="control-label" for="ans1">
          Answer <i class="fa fa-asterisk asterisk"></i>
          </label>
          <input class="field form-control" id="ans1" name="answer1" type="text" value="">
       </div>
    </div>
    <div class="row " id="">
       <div class="form-group col-md-6 input-select-wrapper">
          <label class="control-label" for="question2">
          Question 2 <i class="fa fa-asterisk asterisk"></i>
          </label>
          <select class="form-control security" id="question2" name="question2">
             <option class="" selected="" value="0">
                --Select Question--
             </option>
             <option class="" value="What is the name of the place your wedding reception was held?">
                What is the name of the place your wedding reception was held?
             </option>
             <option class="" value="What was the make and model of your first car?">
                What was the make and model of your first car?
             </option>
             <option class="" value="What is the name of your best childhood friend?">
                What is the name of your best childhood friend?
             </option>
             <option class="" value="What is your favorite dessert?">
                What is your favorite dessert?
             </option>
             <option class="" value="What is your favorite food?">
                What is your favorite food?
             </option>
          </select>
       </div>
       <div class="form-group col-md-6 input-text-wrapper">
          <label class="control-label" for="ans2">
          Answer <i class="fa fa-asterisk asterisk"></i>
          </label>
          <input class="field form-control" id="ans2" name="answer2" type="text" value="">
       </div>
    </div>
    <div class="row ">
       <div class="form-group col-md-6 input-select-wrapper">
          <label class="control-label" for="question3">
          Question 3 <i class="fa fa-asterisk asterisk"></i>
          </label>
          <select class="form-control security" id="question3" name="question3">
             <option class="" selected="" value="0">
                --Select Question--
             </option>
             <option class="" value="What was the first live concert you attended?">
                What was the first live concert you attended?
             </option>
             <option class="" value="Who was your childhood hero?">
                Who was your childhood hero?
             </option>
             <option class="" value="What was the name of your first boyfriend or girlfriend?">
                What was the name of your first boyfriend or girlfriend?
             </option>
             <option class="" value="What was the first name of your first manager?">
                What was the first name of your first manager?
             </option>
             <option class="" value="What was the name of your first Pet?">
                What was the name of your first Pet?
             </option>
          </select>
       </div>
       <div class="form-group col-md-6 input-text-wrapper">
          <label class="control-label" for="ans3">
          Answer <i class="fa fa-asterisk asterisk"></i>
          </label>
          <input class="field form-control" id="ans3" name="answer3" type="text" value="">
       </div>
    </div>
    <div class="text-center">
       <button class="btn button btn-primary btn-default" id="create-account-btn" type="submit" disabled="">
       <span class="lfr-btn-label">Submit</span>
       </button>
    </div>
 </form>