<div class="wrapper">
	<nav id="sidebar" class="active">
		<div class="sidebar-header">
		   <i class="fas fa-bars"></i>
		</div>
		<ul class="components">
			<li>
				<a href="/group/icare/home" title="Home"><i class="fas fa-home"></i><span>Home</span></a>
			</li>
			<li>
				<a href="/group/icare/my-account" title="My Account"><i class="fas fa-id-card"></i><span>My Account</span></a>
			</li>
			<li>
			  <a href="/c/portal/logout" title="Logout"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
			</li>
		</ul>
	</nav>
</div>