<div class="infoSecion row-elements">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">First Name <i class="fa fa-asterisk asterisk"></i></label>
                <input class="field form-control" name="firstName">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Last Name <i class="fa fa-asterisk asterisk"></i></label>
                <input class="field form-control" name="lastName">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Job Title</label>
                <input class="field form-control" name="jobTitle">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Username <i class="fa fa-asterisk asterisk"></i></label>
                <input class="field form-control" name="userName">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Email Address <i class="fa fa-asterisk asterisk"></i></label>
                <input class="field form-control" name="email">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label" style="display:block">Mobile Number <i class="fa fa-asterisk asterisk"></i></label>
                <input class="form-control col-md-2 d-inline" />
                <input class="form-control col-md-9 d-inline pull-right" />
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="/group/icare/my-account" class="btn btn-primary m-3">Cancel</a>
        <button class="btn button btn-primary m-3" id="personalInfoSubmit" type="submit">Submit</button>
    </div>
</div>
