<div id="footer">
	<div class="container">
		<p class="orgContact">Contact Us : {{phoneNumber}}</p>
		<ul class="inline-list">
			<li><a href="#" data-target="#analyticsMyModal1" data-toggle="modal" target="_blank">Analytics Policy</a></li>
			<li><a target="_blank" href="https://www.appexinnovation.com/about-us">About Us</a></li>
			<li><a target="_blank" href="https://www.appexinnovation.com/web-policies">Web Policies</a></li>
			<li><a target="_blank" href="https://www.appexinnovation.com/accessibility">Accessibility</a></li>
			<li><a target="_blank" href="https://www.appexinnovation.com/contact">Contact Us</a></li>
			<li><a target="_blank" href="https://www.appexinnovation.com/survey">Survey</a></li>
		</ul>
	</div>
</div>